

.about-layout {
	text-align: center;
	margin: 100px 60px 200px 60px;
	overflow: hidden;
}

.about-img {
	height: 100%;
	width: 100%;
}

.content-image {
	width: 70vw;
	height: auto;
	margin: 0 auto;
}

.about-content {
	max-width: 65vw;
	margin: 0 auto;
}








