

.contact-one, .contact-two {
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.column-one, .column-two {
    flex: 1;
}

.make-contact a {
    margin: 100px 0px;
    color: var(--color-orange);
}

#contact-form {
    display: flex;
    flex-direction: column;
}


form {
    padding: 2em;
    max-width: 70vw;
    margin: 3em auto;
    background: whitesmoke;
    box-shadow: 3px 3px 3px rgba(192, 206, 202, 0.3);
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid;
    
    border-color: var(--color-line);
}

label {
    display: block;
    margin-top: 1rem;
}

button {
    border: none;
    margin-top: 1rem;
    align-self: flex-end;
}
