

@media screen and (max-width: 500px) {

  .logo {
    margin-left: 0px;
  }

  .hamburger-icon {
    color: #0a0d00;
    position: absolute;
    right: 30px;
  }

  nav {
    display: none;
  }

  .nav-links {
    justify-content: space-between;
  }
  

  .hamburger-icon {
    display: block;
  }

  .header-nav {
    display: block;
  }

  .welcome {
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 70%);
  }

  .welcome__content-one {
    align-self: center;
    justify-content: center;
    margin: 0px;
  }

  .welcome-layout {
    text-align: center;
  }

  .welcome__content {
    padding: 0px;
    color: white;
    min-width: 100%;
  }

  .staff-picks {
    margin: 70px 20px 5px 20px;
  }

  .card-container {
    margin: 30px 0px;
  }

  .item {
    max-width: 100%;
  }

  .item img {
    height: auto;
    max-width: 100%;
  }

  .box {
    min-width: 100%;
    height: 300px;
  }

  .text-right h2 {
    margin-top: 15px;
  }

  .insulation-text p {
    margin: 0px 50px 0px 50px;
  }
  .insulation-text {
    margin-top: 0px;
    color: white;
  }
  .insulation-text h2 {
    margin-top: 0px;
  }
  .insulation-system {
    min-height: 20vh;
    padding: 40px 0px;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 70%);
    margin: 0px;
  }

  .mnf-container {
    margin: 0px;
  }

  .wrapper-grid {
    display: block;
  }

  .bottom-footer {
    display: block;
  }
  footer {
    padding: 40px 40px 0px 40px;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .container-one {
    display: block;
  }

  .child-two {
    padding: 0px;
  }

  .checkout-container {
    display: block;
  }

  .order-right, .order-left {
    margin: 0px;
  }

  .card-details {
    display: block;
  }

  .layout-margin {
    margin: 60px 20px;
  }

  .order-container {
    display: block;
  }

  .contact-one, .contact-two {
    display: block;
    padding: 0px 30px;
  }

  .left-wrapper >img {
    height: auto;
    width: 100%;  
  }

  .box1> div {
    display: block;
  }


}

@media screen and (max-width: 768px){

  html, body {
    overflow-x: hidden;
  }

  .header-icons {
    display: none;
  }

  .burger {
    display: block;
  }

  .nav-unique {
    position: absolute;
    right: 0px;
    top: 7vh;
    height: 92vh;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    width: 40vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 8rem;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-unique li {
    opacity: 0;
  }

  

  .header-icons {
    display: none;
  }
}


@media screen and (min-width: 600px) and (max-width: 900px) {

  .item {
    height: 350px;
  }

  .container-one {
    display: block;
  }

  .child-two {
    padding: 0px;
  }

  .checkout-container {
    display: block;
  }


  .hamburger-icon {
    color: #0a0d00;
    position: absolute;
    right: 30px;
  }

  nav {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
  
  .wrapper {
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 1500px) {
  .contact-one, .contact-two {
    margin: 30px 80px 100px 80px;
  }
}

