

@media screen and (max-width: 768px) {

  html, body {
    overflow-x: hidden;
  }

  .header-icons {
    display: flex;
    flex-direction: column-reverse;
  }

  .basket-items {
    display: none;
  }

  .burger {
    display: block;
  }

  .nav-unique {
    position: absolute;
    right: 0px;
    top: 7vh;
    height: 92vh;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 8rem;
  }

  .header-icons {
    margin-right: 0;
    padding-left: 0;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-unique li {
    opacity: 0;
  }

  .staff-picks {
    margin: 70px 20px 5px 20px;
  }

  .card-container {
    margin: 30px 0px;
  }

  .item img {
    height: auto;
    max-width: 100%;
  }

  .box {
    min-width: 100%;
    height: 500px;
  }

  .text-right h2 {
    margin-top: 15px;
  }

  .insulation-text p {
    margin: 0px 50px 0px 50px;
  }

  .insulation-text {
    margin-top: 0px;
    color: white;
  }

  .insulation-text h2 {
    margin-top: 0px;
  }

  .insulation-system {
    min-height: 20vh;
    padding: 40px 0px;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 70%);
    margin: 0px;
    height: 400px;
  }
  .mnf-container {
    margin: 0px;
  }

  .wrapper-grid {
    display: block;
  }

  .bottom-footer {
    display: block;
  }
  footer {
    padding: 40px 40px 0px 40px;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .container-one {
    display: block;
  }

  .child-two {
    margin-top: 3rem;
  }

  .checkout-container {
    display: block;
  }

  .order-right, .order-left {
    margin: 0px;
  }

  .card-details {
    display: block;
  }

  .layout-margin {
    margin: 60px 20px;
  }

  .order-container {
    display: block;
  }

  .contact-one, .contact-two {
    display: block;
    padding: 0px 30px;
  }

  .left-wrapper >img {
    height: auto;
    width: 100%;  
  }

  .box1> div {
    display: block;
  }

  .left-wrapper >img {
    height: 100%;
    width: 100%;
  }

  .checkout-container {
    display: block;
  }

  .about-layout {
    margin: 100px 20px;
  }

  .about-content {
    max-width: 80vw;
  }
}



@media screen and (max-width: 670px) {
  .card-container {
    justify-content: center;
  }
}
