.order-container {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.order-left {
  flex: 1;
  background-image: url(/images/mens-jackets/mens-shadowrain-jacket.jpg);
  background-size: contain;
  background-position: inherit;
  background-repeat: no-repeat;
  height: 60vh;
}

.order-right {
 flex: 2;
 margin: 20px 0px 10px 50px;
 }

 .order-right > h1 {
  margin: 0px;
 }

 .email-address {
  font-family: var(--text-paragraph), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-orange);
  font-style: normal;
 }

 .order-confirmed {
   margin-bottom: 2rem;
 }

#back-button {
  border: none;
  margin-top: 40px;
 }