@import "imports/links.css";
@import "imports/variables.css";


body {
  margin: 0%;
  font-family: var(--text-paragraph), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
.layout-margin {
  margin: 60px 80px;
 }

h1 {
  font-family: var(--text-heading), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}


h2, h3,h4, h5, legend, a {
  font-family: var(--text-heading), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}



/*navigation*/


.logo {
  height: auto;
  max-width: 120px;
  flex: 1;
  padding: 20px;
}
.nav-links li {
  display: inline;
  padding: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-unique {
  display: flex;
  align-items: center;
}

header {
  align-items: center;
  position: sticky;
  background-color: #F6F6F6;
  top: 0;
  z-index: 100;
}

.header-icons > a {
  margin: 15px;
  font-size: 1.2em;
}
.header-icons {
  margin-right: 40px;
  padding-left: 6rem;
}

.basket-items {
  position: absolute;
  top: 26px;
  right: 43px;
  background-color: var(--color-orange);
  color: white;
  border-radius: 25%;
  padding: 1px 6px;
  font-weight: bold;

}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #0a0d00;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 7px;
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
}

/*product cards*/

.card-header {
  margin: auto;
  margin-top: 5px;
  color: var(--color-green);
  font-size: 1em;
}
.card-price {
  margin: auto;
  margin-top: 5px;
  color: var(--color-grey);
  font-size: 1.1em;
}

.product-click:hover {
  transform: translateY(-0.20em);
  transition: all .2s ease-in-out; 
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 20px 0px 120px 0px;
}
 
.item {
  padding: 0px;
  margin: 0px 0px 100px 0px;
  height: 400px;
  max-width: 320px;
}
 
.item img {
  height: 100%;
}

.staff-picks {
  margin: 100px 80px 5px 80px;
}

/*grid layout (Pages: product specific, basket)*/

.wrapper {
  display: grid;
  grid-gap: 80px;
  min-height: 400px;
  margin: 100px 0px;
  grid-template-columns: 1fr 1fr;
}

/*Summary card (Pages: basket, checkout)*/
.container-two {
  background-color: #F6F6F6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 1%;
}

.child-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .child-four {
  text-align: end;
 }

/*line break*/

.hr {
  width: 100%;
  background-color: grey;
  height: 1px;
  border: 0;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
 }

/*footer*/

footer {
  background-color: var(--color-green);
  padding: 80px 80px 0px 80px;
}

.footer-wrapper {
  color: var(--color-grey); 
}

.footer-wrapper h5 {
  color: white;
}

#hr {
  margin: 70px 0px;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  font-size: 0.8em;
  align-items: center;
}

.wrapper-grid  ul, a {
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  color: var(--color-grey);
}
.footer-links {
  line-height: 1.8;
}
.bottom-info {
  display: flex;
  gap: 20px;
}

.footer-wrapper a:hover {
  text-decoration: underline;
}

.wrapper-links {
  color: white;
}

.wrapper-grid address {
  font-style: normal;
}
/*accordion styles*/


.contact-container {
  margin-bottom: 100px;
}

.contact-container label {
  display: block;    
  padding: 20px 22px;
  margin: 0px;
  cursor: pointer;
  background: #fff;
  color: var(--color-green);
  transition: ease .5s;
  position: relative;
}

.contact-container label:hover {
  background: #F6F6F6;
}

.content {
  background: #fff;
  padding: 20px 25px;
  margin: 0px;
}

label + .content {
  display: none;
}

#title1, #title2, #title3, #title4 {
  display: none;
}

input:checked + label + .content {
  display: block;
  
}
.contact-container label::after {
  content: '+';
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 35px;
}
.contact-container input:checked + label::after {
  content: '-';
  right: 10px;
  top: 35px;
}

.wider-item label {
  border-style:  solid none none none ;
  border-color: var(--color-line);
  border-width: 1px;
}
.wider-item .last-label {
  border-style:  solid none solid none;
}


