:root {
  --text-paragraph: "open-sans";
  --text-heading: "montserrat";
  --color-header-footer: #202020;
  --color-green: #0A0D00;
  --color-orange: #D67E3E;
  --color-grey: #898987;
  --color-line: #CBCBCB;
}