body {
  margin: 0%;
}

h1,
h2 {
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-family: open-sans, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
h3 {
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
h5 {
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
/*link button*/
.link-button {
  color: #d67e3e;
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  text-decoration: none;
  width: 200px;
  background: none;
  border: none;
  padding: 0;
}
.link-button:hover {
  opacity: 1;
  opacity: 0.6;
  transition: 0.3s;
}

.fa-arrow-right {
  margin-left: 10%;
}

/*button*/

.button {
  background-color: #d67e3e;
  color: #fff;
  font-size: 1em;
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 60px;
  border-radius: 2px;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button:hover {
  opacity: 1;
  opacity: 0.6;
  transition: 0.3s;
}
/*navigation*/

nav {
  display: none;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
.fa-circle {
  position: absolute;
}
.hamburger-icon {
  color: #0a0d00;
  position: absolute;
  right: 50px;
}
.header-nav {
  position: relative;
}

.logo {
  height: auto;
  max-width: 150px;
}
nav li {
  display: inline;
  font-family: open-sans, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
li a {
  text-decoration: none;
  padding: 10px;
}
nav ul {
  padding: 0px;
}

nav li a:hover {
  text-decoration: underline;
  color: #0a0d00;
}
.active {
  color: #0a0d00;
  text-decoration: underline;
}

/*end of navigation*/

/*Header section*/

.welcome {
  background-image: url("/images/group-277@3x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 80vh;
  position: relative;
  min-width: none;
  display: block;
  margin: auto;
}
.welcome__content {
  position: absolute;
  text-align: left;
  top: 200px;
  left: 80px;
  bottom: none;
}
.welcome__content-one {
  position: absolute;
  text-align: right;
  bottom: 50px;
  right: 50px;
  margin: auto;
  width: 250px;
}
.welcome__content > p {
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  opacity: 50%;
}
#cta-header {
  position: absolute;
  bottom: 5px;
  left: 20px;
}
#header-link {
  position: relative;
}
header div {
  display: flex;
  background-color: #f6f6f6;
  padding: 20px;
  align-items: center;
}
.header-text-main {
  width: 250px;
  word-wrap: break-word;
  margin-top: 20px;
}

li {
  display: inline;
  padding: 10px;
}

header,
footer {
  background-color: #f6f6f6;
  color: #0a0d00;
}
header {
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-links {
  margin: auto;
}
header a {
  color: #0a0d00;
}

.collection-name {
  margin: auto;
}
/*Homepage cards*/

.card-header {
  margin: auto;
  margin-top: 5px;
}
.card-price {
  margin: auto;
  margin-top: 5px;
  color: #898987;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding: none;
  margin: 200px 50px 200px 50px;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  padding: 0px;
  margin: 0px;
  height: 400px;
  max-width: 320px;
  position: relative;
  flex: 100%;
  margin-bottom: 60px;
}

.item img {
  height: 100%;
  width: 100%;
  padding: auto;
  object-fit: cover;
}

/*manufacturing section on homepage*/

.test-container {
  margin: 50px;
  position: relative;
}

.image-one {
  max-width: 100%;
  width: auto;
  height: 100;
  -webkit-filter: brightness(20%);
  filter: brightness(30%);
  z-index: 0;
  position: relative;
}

.text-container {
  margin: auto;
  min-height: 100%;
  max-height: auto;
  width: auto;
}
.first-txt {
  position: absolute;
  top: 160px;
  left: 50px;
  color: white;
  z-index: 1;
}

.second-txt {
  position: absolute;
  top: 200px;
  left: 50px;
  color: white;
  z-index: 1;
  max-width: 40%;
  line-height: 130%;
}

.mnf .link-button {
  position: absolute;
  top: 380px;
  left: 50px;
  text-align: left;
}

/*end of manufacturing section on homepage*/

/*trail section on homepage*/
.trail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px 0px;
}
.trail-image {
  -webkit-filter: brightness(20%);
  filter: brightness(75%);
  max-width: 100%;
}
.box-one {
  flex: 1;
  position: relative;
}
.text-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.box-two {
  flex: 1;
  position: relative;
}

.text-right {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
  color: #0a0d00;
}
.text-right > p,
h2 {
  margin: 0px;
}

.price-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #0a0d00;
  font-weight: bold;
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.prev,
.next {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  margin-top: -20px;
  width: 10px;
  height: 10px;
  opacity: 70%;
}
.next {
  right: 20px;
  border-bottom: 3px solid #0a0d00;
  border-right: 3px solid #0a0d00;
  transform: rotate(-45deg);
  transition: right 0.5s;
}

.prev {
  left: 20px;
  border-bottom: 3px solid #0a0d00;
  border-left: 3px solid #0a0d00;
  transform: rotate(45deg);
  transition: left 0.5s;
}

.next:hover {
  right: 1em;
}

.prev:hover {
  left: 1em;
}

/*end of trail section on homepage*/

/*start of insulation section on homepage*/

.insulation-system {
  position: relative;
  width: 100%;
}

.insulation-image {
  width: 100vw;
}

.insulation-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #0a0d00;
  line-height: 1.5;
}

.insulation-button {
  margin-top: 30px;
}

/*end of insulation section on homepage*/

/*start of footer*/

.footer-style {
  background: #0a0d00;
}

.footer-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center safe;
  background-color: #0a0d00;
  margin: 0px 50px;
}

.footer-info {
  min-width: 250px;
  margin: 20px;
  flex: 10px;
}

.footer-info > h5 {
  color: white;
}
.footer-info > p {
  color: white;
  opacity: 40%;
}

hr {
  width: 97%;
  background-color: white;
  height: 1px;
  border: 0;
  opacity: 20%;
}

.footer-nav-left {
  color: white;
  min-width: 250px;
  margin: 20px;
  flex: 10px;
}

.footer-nav-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: center safe;
  background-color: #0a0d00;
  margin: 0px 50px;
}

.right-side {
  min-width: 250px;
  margin: 20px;
  flex: 10px;
}

.right-side > h5,
address,
a {
  color: white;
  text-decoration: none;
}

.right-side > address {
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 0.83em;
  line-height: 2em;
  opacity: 40%;
}
.footer-links {
  font-family: montserrat, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 0.83em;
  line-height: 2em;
  opacity: 40%;
}

.bottom-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom-info {
  color: white;
  font-family: open-sans, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
  opacity: 40%;
  margin: 200px 40px 40px 40px;
}
/*end of footer*/

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 700px) {
  .card-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 700px) {
  .card-container {
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  .item {
    flex: 100%;
  }
}

@media screen and (min-width: 400px) {
  .card-container {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .test-container {
    margin: none;
  }
}

@media screen and (max-width: 700px) {
  .trail {
    flex-direction: column;
    margin: 0px;
  }
}

@media screen and (max-width: 700px) {
  .image-one {
    flex-direction: row;
  }
}
